{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona One:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static '/logo.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <style>
        .low{
        max-width: 882px;
        width: 100%;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex: 2;
        background-image: url("{% static '\assests\mentordashboard\fadedraf.svg' %}");
        background-size: 1050px 900px;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 10px;
        padding: 60px;
        gap: 18px;
        background-color: #A3CDFF;
    }
    </style>
    <link rel="stylesheet" href="{% static '/css/mentor_bar.css' %}" />

</head>
<body>
    <div class="parent">

        <div style="left: 0px; position: relative;" class="header" >
            <!-- LOGO on LEFT -->
            <div class="image-container">
                <a><img style=" max-width: 87px; max-height: 90px; cursor: pointer;" title="A-Lab" src="{% static '\assests\mentordashboard\logo.svg' %}" alt="Image"></a>
                <marquee><h4>Welcome Back! {{request.user.username}}</h4></marquee>
            </div>
            <nav class="navbar">
                <div class="search-container">
                    <input type="text" placeholder="Search here..." name="search">
                  
                  </div>
                  <ul>   
                    <li>
                        <form method="post" action="{% url 'notification_page' %}">
                            {% csrf_token %}
                            <button class="hmpage"><img src="{% static '\assests\mentordashboard\bell.svg' %}" title="Notification" alt="bell"></button>
                        </form>
                    </li>
                    <li>
                        <button class="hmpage"><img src="{% static '\assests\mentordashboard\profile.svg' %}" title="Profile" alt="profile"></button>
                        <ul>
                            <li>
                                <a href="{% url 'profile_page' %}">My profile</a>
                            </li>
                            <li><a href="{% url 'settings_page' %}">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

       <!-- PAGE 1 -->
        
            <div class="child1">
                
                <div class="contain">
                    <div class = "drawer">
                        <div class = "top">

                            <div class = btn >
                             
                                    <img src="{% static '\assests\mentordashboard\da.svg' %}" title="Dashboard" alt="Logo 1">
                                    <a class="link" href="{% url 'dashboard_mentor' %}"><button class="loginbutton">Dashboard</button></a>
                              
                            </div>

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\newc.svg' %}" alt="Logo 1">
                                <a class="link" onclick="showNewClassroomForm()"><button class="loginbutton" >New Classroom</button></a>
                            </div>    

                            <div class = btn >
                                <img style = "width:33px; height: 33px;" src="{% static '\assests\mentordashboard\test.svg' %}" alt="Logo 1">
                                <a class="link" href="createtest.html"><button class="loginbutton">Create Test</button></a>
                            </div>

                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\que.svg' %}" alt="Logo 1">
                                <a class="link" href="genques.html"><button class="loginbutton">Create Question</button></a>
                            </div>
                          
                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\pen.svg' %}" alt="Logo 1">
                                <a class="link" href="Updateques.html"><button class="loginbutton">Update Question</button></a>
                            </div>
                          
                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\his.svg' %}" alt="Logo 1">
                                <a class="link" href="exam_history.html"><button class="loginbutton">Test History</button></a>
                            </div>

                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\res1.svg' %}" alt="Logo 1">
                                <a class="link" href="res.html"><button class="loginbutton">Publish Results</button></a>
                            </div>

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\analytics.svg' %}" alt="Logo 1">
                                <a class="link" href="anaytics.html"><button class="loginbutton">Analytics</button></a>
                            </div>        
                        </div>

                        <div class = "bottom">

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\logout.svg' %}" alt="Logo 1">
                                <a class="link"  href="{% url 'logout' %}"><button class="loginbutton">Logout</button></a>
                            </div>
                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\setting.svg' %}" alt="Logo 1">
                                <a class="link" href="{% url 'settings_page' %}"><button class="loginbutton">Settings</button></a>
                            </div>

                        </div>
                        
                    </div>
                    
                    <div class = "midcontent">