{% include 'mentor_bar.html' %}
{% load static %}
<title>Profile | A-Lab</title>

                <div class= "low">
                        <h1 style=" font-size: 26px; text-align: center;">MY PROFILE</h1>
                        <div class="img_prof">
                            <img title="User Image" src="{% static '\assests\mentordashboard\prof.svg' %}" id = "pro_img" alt="Image">
                        </div>
                        
        
                        <div class="sec">
                            <div class="leftinfo">
                                    <label style="font-size: 16px; text-align: left;" for="name">Name</label>
                                    <input class="createexm" type="text" id="name"><br>

                                    <label style="font-size: 16px; text-align: left;" for="gender">Gender</label>
                                    <select class="createexm" id="gender" name="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                        <option value="not-disclosed">Do Not Wish to Disclose</option>
                                      </select><br>

                                    <label style="font-size: 16px; text-align: left;" for="grade">Grade</label>
                                    <select class="createexm" id="grade" name="grade">
                                        <option value="g6-8">Grades 6-8</option>
                                        <option value="g9-12">Grades 9-12</option>
                                        <option value="g">Graduate</option>
                                        <option value="pg">Post Graduate</option>
                                        <option value="doc">Doctorate</option>
                                        <option value="prof">Professional</option>
                                        <option value="other">Other</option>
                                      </select><br>
                                   
                                    <label style="font-size: 16px; text-align: left;" for="mobile">Phone </label>
                                    <input type="tel" class=" createexm phone-number" id="mobile" style="width: 100%;" placeholder="Mobile Number" required>
                            </div>
                            <div class="rightinfo">
                                <label style="font-size: 16px; text-align: left;" for="username">UserName</label>
                                <input class="createexm" type="text" id="username"><br>

                                <label style="font-size: 16px; text-align: left;" for="instituion">Institution</label>
                                <input class="createexm" type="text" id="instituion"><br>

                                <label style="font-size: 16px; text-align: left;" for="affilation">Affilation</label>
                                    <select class="createexm" id="affilation" name="affilation">
                                        <option value="g6-8">CBSE</option>
                                        <option value="g9-12">ICSE</option>
                                        <option value="g">State Board</option>
                                        <option value="pg">Other</option>
                                      </select><br>

                                <label style="font-size: 16px; text-align: left;" for="email">E-mail</label>
                                <input class="createexm" type="email" id="email"><br>

                            </div>
                        </div>
                        <br>
                </div>

</div>
</div>
</div>
</div>
</div>
</body>
</html>