{% include 'stu_bar.html' %}
{% load static %}
<title>Settings | A-Lab</title>
<style>
    .low{
        max-width: 882px;
        width: 100%;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex: 2;
        background-image: url("{% static '\assests\mentordashboard\fadedraf.svg' %}");
        background-size: 1050px 900px;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 10px;
        padding: 60px;
        gap: 18px;
        background-color: #A3CDFF;
    }
</style>
<link rel="stylesheet" href="{% static '/css/stu_profile.css' %}">
<script>
     function showContent(contentNumber) {
            for (let i = 1; i <= 3; i++) {
                var contentDiv = document.getElementById("content" + i);
                if (i === contentNumber) {
                    contentDiv.classList.remove("hidden");
                } else {
                    contentDiv.classList.add("hidden");
                }
            }
        }
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');}

          document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('image-input').addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function(event) {
                document.getElementById('pro_img').src = event.target.result;
            };

            reader.readAsDataURL(file);
        });
    });
</script>
    <div class = "head">

        <button class="hbt" onclick="showContent(1)">Personal Info</button>
        <button class="hbt" onclick="showContent(2)">Login & Security</button>
        <button class="hbt" onclick="showContent(3)">Change Language</button>
    </div>

    <div id="content1" class="low">
        <h1 style="font-size: 26px; text-align: center;">MY PROFILE</h1>
        <div class="img_prof">
            <img class="circular-img" title="User Image" id="pro_img" src="{% static '\assests\mentordashboard\prof.svg' %}" alt="Image">
            <input style="margin-left: 100px;" type="file" accept="image/*" id="image-input">
        </div>
            

            <div class="sec">
                <div class="leftinfo">
                        <label style="font-size: 16px; text-align: left;" for="name">Name</label>
                        <input class="createexm" type="text" id="name"><br>

                        <label style="font-size: 16px; text-align: left;" for="gender">Gender</label>
                        <select class="createexm" id="gender" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="not-disclosed">Do Not Wish to Disclose</option>
                        </select><br>

                        <label style="font-size: 16px; text-align: left;" for="grade">Grade</label>
                        <select class="createexm" id="grade" name="grade">
                            <option value="g6-8">Grades 6-8</option>
                            <option value="g9-12">Grades 9-12</option>
                            <option value="g">Graduate</option>
                            <option value="pg">Post Graduate</option>
                            <option value="doc">Doctorate</option>
                            <option value="prof">Professional</option>
                            <option value="other">Other</option>
                        </select><br>
                    
                        <label style="font-size: 16px; text-align: left;" for="mobile">Phone </label>
                        <input type="tel" class=" createexm phone-number" id="mobile" style="width: 100%;" placeholder="Mobile Number" required>
                </div>
                <div class="rightinfo">
                    <label style="font-size: 16px; text-align: left;" for="username">UserName</label>
                    <input class="createexm" type="text" id="username"><br>

                    <label style="font-size: 16px; text-align: left;" for="instituion">Institution</label>
                    <input class="createexm" type="text" id="instituion"><br>

                    <label style="font-size: 16px; text-align: left;" for="affilation">Affilation</label>
                        <select class="createexm" id="affilation" name="affilation">
                            <option value="g6-8">CBSE</option>
                            <option value="g9-12">ICSE</option>
                            <option value="g">State Board</option>
                            <option value="pg">Other</option>
                        </select><br>

                    <label style="font-size: 16px; text-align: left;" for="email">E-mail</label>
                    <input class="createexm" type="email" id="email"><br>

                </div>
            </div>
            <br>

            <button class="vbtn">UPDATE</button>
        </div>

    <div id="content2" class = "hidden">
                <div class = "lcont">
                    <label style="font-size: 16px; text-align: left;" for="name">Current Password: </label>
                    <input class="createexm" type="text" id="cpass"><br>

                    <label style="font-size: 16px; text-align: left;" for="name">New Password: </label>
                    <input class="createexm" type="text" id="npass"><br>

                    <button class="vbtn">UPDATE PASSWORD</button>
                </div>
        </div>
        
    <div id = "content3" class="hidden">
    
        <p>Click on the dropdown button to translate.</p>
        <p>Translate this page:</p>
      
      <div id="google_translate_element"></div>
      <!-- <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
       <script type="text/javascript" > 
         function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element'); }
      </script>
      
      <p>You can translate the content of this page by selecting a language in the select box.</p>

    </div>
</div>
</div>
</div>

</div>

</div>
</body>

</html>