{% include 'stu_bar.html' %}
{% load static %}
<title>Notifications | A-Lab</title>
<link rel="stylesheet" href="{% static '/css/notific.css' %}" />

<div class = "notifics">
  
     <!-- NOtifications -->

    <div class="notification_con">
        <img src="{% static '\assests\mentordashboard\notif.svg' %}">
        <div class="notification-content">Notification content 1.</div>
    </div>

    <div class="notification_con">
        <img src="{% static '\assests\mentordashboard\notif.svg' %}">
        <div class="notification-content">Notification content 2.</div>
    </div>

    <div class="notification_con">
        <img src="{% static '\assests\mentordashboard\notif.svg' %}">
        <div class="notification-content">Notification content 3.</div>
    </div>

    <div class="notification_con">
        <img src="{% static '\assests\mentordashboard\notif.svg' %}">
        <div class="notification-content">Notification content 4.</div>
    </div>


</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
