
{% load static %}
<!-- {% block title %} Student Report {% endblock %} -->
{% block content %}


<div class="template">
  Student Report
  <!-- {{classroom.name}} -->
  <h4 style="color: black; font-family: Arial, Helvetica, sans-serif;"><b> :{{ request.user.username }}'s Test Scores in {{ classroom.name }}</b></h4>
</div>


<div class = "anc">
  <div class="inp">
  <!-- Display Test Scores -->
  <h3>Test Scores:</h3>
  <ul>
    {% for score in test_scores %}
      <li>
        {{ score.test.title }}: {{ score.score }}
        <!-- Add link to view test report -->
        <div style=" display:flex; align-items: end; margin-top: 10px;">
        <button class="hbt"><a href="{% url 'test_report' test_id=score.test.id %}">View Report</a></button>
        </div>
      </li>
      <br>
    {% endfor %}
  </ul>
</div>
</div>

  <!-- Display average score -->
  <div class = "anc">
    <div class="inp">
  <p>Average Score: {{ average_score }}</p>
  <!-- Display average time taken per question -->
  <p>Average Time Taken per Question: {{ average_time_per_question }} seconds</p>
</div>
</div>

<div class = "anc">
  <div class="inp">
  <!-- Display pie chart -->
  <h2>Test Scores Distribution</h2>
  <img src="{{ pie_chart }}" alt="Test Scores Pie Chart">

</div>
</div>
{% endblock %}
